.button{
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent; 
	color: #4BCFA0;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	padding: 15px;
	cursor: pointer;
	min-width: 64px;
	&:hover{
		background-color: #4BCFA0;
		border-color: #4BCFA0;
		color: #fff;
		
	}
}