@import '../../styles/vars';
.button{
	border-radius: 16px;
	border: 1px solid #0000001a;
	background-color: transparent; 
	color: $success;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	padding: 15px;
	cursor: pointer;
	min-width: 64px;
	&:hover{
		background-color: $success;
		border-color: $success;
		color: $white;
		
	}
	&[variant="success"] {
		background-color:$success;
		color: $white;
		border: none;
	}
	&:disabled {
		background-color: darken($success, 40%);
	}

}