body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color:#E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media(max-width: 1100px) {
	body {
		font-size: 11px;
	}
}
